/*====================================
              Body
====================================*/
.bodyStyle {
  color: white;
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

/*====================================
              Nav Bar
====================================*/
.navLinks {
  margin-top: 20px;
  font-size: 16px;
  float: right;
}

.eachNavLink {
  margin-right: 35px;
  color: white;
  text-decoration: none;
}

.eachNavLink:visited {
  text-decoration: none;
}

.eachNavLink:hover {
  font-weight: bolder;
  color: #0085d1;
  text-decoration: none;
}

.navbar {
  height: 10vh;
}

/*====================================
              Home View
====================================*/

.homeTop {
  height: 30vh;
}
.homeFont {
  height:40vh;
}

.homeBottom {
  height: 40vh;
}

.homeText {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  text-align: center;
}

.homeCode {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  text-align: center;
}

.homeBlueFont {
  color: #0085d1;
}

/*====================================
              About Me
====================================*/
.aboutMe {
  margin-top: 2%;
  height: 40vh;
}

.aboutIcon {
  margin-top: 5%;
  color: white;
}

.aboutIcon:hover {
  color: #0085d1;
}

.aboutImg {
  margin-right: auto;
  margin-left: auto;
  width: 160px;
}

/*====================================
              Projects
====================================*/

.projectsContainer {
  margin-top: 5%;
  text-align: center;
}

.projectsImg {
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 200px;
}





