/*====================================
              Body
====================================*/
.bodyStyle {
  color: white;
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

/*====================================
              Nav Bar
====================================*/
.navLinks {
  margin-top: 20px;
  font-size: 16px;
  float: right;
}

.eachNavLink {
  margin-right: 35px;
  color: white;
  text-decoration: none;
}

.eachNavLink:visited {
  color: white;
  text-decoration: none;
}

.eachNavLink:hover {
  font-weight: bolder;
  color: #0085d1;
  text-decoration: none;
}

.navbar {
  height: 10vh;
}

/*====================================
              Home View
====================================*/

.homeTop {
  height: 30vh;
}
.homeFont {
  height:40vh;
}

.homeBottom {
  height: 40vh;
}

.homeText {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  text-align: center;
}

.homeCode {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  text-align: center;
}

.homeBlueFont {
  color: #0085d1;
}

/*====================================
              About Me
====================================*/
.aboutTop {
  margin-top: 2.5%;
  height: 60vh;
}

.aboutIcon {
  margin-top: 5%;
  color: black;
}

.aboutIcon:hover {
  color: #0085d1;
}

.aboutImg {
  margin-right: auto;
  margin-left: auto;
  width: 160px;
}

.aboutCode {
  margin: 3% 0 10% 0;
}

.aboutCodeCenter {
  position:absolute;
  height: 110px;
  width: 110px;
  text-align: center;
}

.aboutPercent {
  position: absolute;
  display: inline-block;
  margin-left: 50px;
  line-height: 120px;
  z-index: 2;
}

.aboutBottom {
  padding-top: 3%;
  height: 40vh;
  font-size: 18px;
  color: black;
  background-color: white;
}

.aboutFont {
  font-weight: bold;
}

.aboutTechName {
  font-size: 20px;
}
/*====================================
              Projects
====================================*/

.projectsContainer {
  margin-top: 5%;
  text-align: center;
}

.projectsImg {
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 200px;
}

/*====================================
              Contact
====================================*/

.contactForm {
  margin-top: 1%;
}
.contactFormSpacing {
  margin-bottom: 10px;
}

.contactIcon {

  color: white;
}

.contactIcon:hover {
  color: #0085d1;
}

.contactTop {
  margin-top: 5%;
}

.contactFont {
  font-family: 'Dancing Script', cursive;
}








