<div class="row aboutMe">
  <div class="col-md-4">
      <img class="img-responsive img-circle" src="images/vlad.png">
  </div>
  <div class="col-md-8">
      <h4>Vlad Ilin</h4>
      <h5>Full-Stack Engineer</h5>
      <p>My name is Vlad, and I’m highly driven individual who enjoys to accept new challenges.
      I'm very passionate about front-end development! I believe it's very important to have good design and user experience, and have high attention to details. I have concrete knowledge of Javascript HTML5, CSS, Angular.js, Bootstrap, JQuery, Git, and Photoshop. I’ve used several relational and non-relational databases.
      </p>
      <ul>
        <li><a href="https://medium.com/@slickMeow"><i class="fa fa-medium"></i></a></li>
        <li><a href="https://github.com/vladislav-i"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/slickMeow"><i class="fa fa-twitter" ></i></a></li>
      </ul>
  </div>
</row>
