
<div class="aboutMe">
  <div class="col-md-3">
      <div class="aboutPic text-center">
        <!-- user picture -->
        <img src="images/aboutPic.png" class="img-responsive img-rounded aboutImg">
        <!-- links to other sites -->
        <a href="https://medium.com/@slickMeow"><i class="fa fa-medium aboutIcon"></i></a>
        <a href="https://github.com/vladislav-i"><i class="fa fa-github aboutIcon"></i></a>
        <a href="https://twitter.com/slickMeow"><i class="fa fa-twitter aboutIcon" ></i></a>
      </div>
  </div>
  <div class="col-md-8 aboutInfo">
      <!-- about user info -->
      <p>My name is Vlad, and I’m highly driven individual who enjoys to accept new challenges.
      I'm very passionate about front-end development! I believe it's very important to have good design and user experience, and have high attention to details. I have concrete knowledge of Javascript HTML5, CSS, Angular.js, Bootstrap, JQuery, Git, and Photoshop. I’ve used several relational and non-relational databases.
      </p>
  </div>

<div>

