
<div class="aboutTop" controller="MainCtrl">

  <div class="aboutCode col-xs-12 textalign">
    <div class="col-xs-3 aboutCodeCenter">
      <div easypiechart options="options" percent="93">
        <span class="aboutPercent" ng-bind="javascript"></span>
      </div>
      <br>
      <span class="aboutTechName">Javascript</span>
    </div>

    <div class="col-xs-3 aboutCodeCenter">
      <div easypiechart options="options" percent="73">
        <span class="aboutPercent" ng-bind="jquery"></span>
      </div>
      <br>
      <span class="aboutTechName"> JQuery</span>
    </div>

    <div class="col-xs-3 aboutCodeCenter">
      <div easypiechart options="options" percent="95">
        <span class="aboutPercent" ng-bind="css"></span>
      </div>
      <br>
      <span class="aboutTechName"> HTML/CSS</span>
    </div>

    <div class="col-xs-3 aboutCodeCenter">
      <div easypiechart options="options" percent="87">
        <span class="aboutPercent" ng-bind="angularjs"></span>
      </div>
      <br>
      <span class="aboutTechName">AngularJS</span>
    </div>
  </div>
<div>
  <div class="col-xs-12 aboutBottom">
    <div class="col-xs-3 about">
      <div class="aboutPic text-center">
        <!-- user picture -->
        <img src="images/aboutPic.png" class="img-responsive img-rounded aboutImg">
        <!-- links to other sites -->
        <a href="https://medium.com/@slickMeow"><i class="fa fa-medium aboutIcon"></i></a>
        <a href="https://github.com/vladislav-i"><i class="fa fa-github aboutIcon"></i></a>
        <a href="https://twitter.com/slickMeow"><i class="fa fa-twitter aboutIcon" ></i></a>
        <a href="https://www.linkedin.com/in/vladilin"> <i class="fa fa-linkedin aboutIcon"></i></a>
      </div>
    </div>
    <div class="col-xs-8 aboutInfo">
      <!-- about user info -->
      <p>My name is Vlad Ilin, I'm a full stack developer who has strong passion for front end design and usablity. I belive simple and clean design is more effective. It's important to improve usablity in order to influence users experience positively. Due to having a software quality assuarance background I became a very detail oriented person who enjoys thinking "outside of the box".
      </p>
      <p>
      <span class="aboutFont">Strong: </span>
      JavaScript, JQuery, AngularJS, HTML5, CSS, Photoshop
      </p>
      <p>
      <span class="aboutFont">Experienced:</span>
      Meteror.js, Three.js, D3.js, SQL, Jasmine, Selenium, JMeter, Illustrator, Pivotal Tracker, Jira, Backbone.js, Express, Node.js, Firebase, MongoDB.
      </p>
    </div>
     <div class="col-xs-1"></div>

  </div>

