<div class="row projectsContainer">
  </div> -->
  <div class="row"> 
    <div class="col-xs-3">
      <div class="aboutPic text-center">
        <!-- user picture -->
        <img src="images/interim.png" class="img-responsive img-rounded aboutImg">
        <!-- links to other sites -->
        <h3> Interim </h3>
        <a href="https://medium.com/@slickMeow"><i class="fa fa-medium aboutIcon"></i></a>
      </div>
    </div>
    <div class="col-xs-8">
      <!-- about user info -->
      <p> Interim
      </p>
    </div>
  </div>

  <div class="row"> 
    <div class="col-xs-3">
      <div class="aboutPic text-center">
        <!-- user picture -->
        <img src="images/roadtrip.png" class="img-responsive img-rounded aboutImg">
        <!-- links to other sites -->
        <h3>Road Trip Advisor</h3>
        <a href="https://medium.com/@slickMeow"><i class="fa fa-medium aboutIcon"></i></a>
      </div>
    </div>
    <div class="col-xs-8 aboutInfo">
      <!-- about user info -->
      <p> A road trip planning guide to search and highlight points of interest along your way. Users simply input their start and end destination and Road-Trip Advisor will create a list of attractions along the way.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="aboutPic text-center">
        <!-- user picture -->
        <img src="images/yourworldorsketch.png" class="img-responsive img-rounded aboutImg">
        <!-- links to other sites -->
        <h3>Your World Of Sketch</h3>
        <a href="https://medium.com/@slickMeow"><i class="fa fa-medium aboutIcon"></i></a>
      </div>
    </div>
    <div class="col-xs-8 aboutInfo">
      <!-- about user info -->
      <p> Interim
      </p>
    </div>
  </div>
</div>
